@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100;1,200&display=swap');

:root {
    --bg1: #fff;
    --bg2:#f5f3f0;
    --black: #0a0a0a;
    --yellow: #deb666;
    --text1:#858a99;
  }
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text1);
    background: var(--bg1);
    overflow-x: hidden;

}
